<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/companies/index.css">
<%- include('../partials/nav') %>

<div class="header">
    <h1>Companies</h1>
</div>

<% if(companies.length === 0){ %>
    <section class="no-data">
      <h2>You have no companies yet.</h2>
      <form action="/companies/new" method="GET">
        <button id="add-company-btn">
          Add Company
        </button>
      </form>
    </section>
<% } else { %>
<section id="view-all-companies-section">
    <form action="/companies/new" method="GET">
        <button id="add-company-btn">
          Add Company
        </button>
      </form>
      <% companies.forEach(company => {  %>
        <form action="companies/<%= company._id %>">
            <button type="submit" class="card">
                <%= company.name %>
            </button>
        </form>
      <% }) %> 
</section>
<% } %> 
<%- include('../partials/footer') %>