<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/companies/index.css">
<%- include('../partials/nav') %>

<div class="header">
    <h1>Companies</h1>
</div>

<section id="view-all-companies-section">
      <% companies.forEach(company => {  %>
        <form action="companies/<%= company._id %>">
            <button type="submit" class="card">
                <%= company.name %>
            </button>
        </form>
      <% }) %> 
</section>
<%- include('../partials/footer') %>