<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/companies/index.css">
<%- include('../partials/nav') %>

<section id="view-all-companies-section">
    <ul>
      <% companies.forEach(company => {  %> 
          <li>
              <a href="companies/<%= company._id %>"> <%= company.name %> </a>
          </li>
      <% }) %> 
    </ul>
</section>

<%- include('../partials/footer') %>