<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/companies/show.css">
<%- include('../partials/nav') %>
<section id="show-company-section">
    <h2><%= company.name %></h2>
    <form action="/companies/<%= company._id %>?_method=PUT" method="POST" id="show-edit-company-form">
        <label for="company-name-input">Name</label>
        <input type="text" value="<%= company.name %>" name="name" id="company-name-input" autocomplete="off" required>
    
        <label for="company-website-input">Website</label>
        <input type="text" value="<%= company.website %>"name="website" id="company-website-input" autocomplete="off">
        
        <label for="company-description-textarea">Description</label>
        <textarea name="description" id="company-description-textarea" wrap="soft" autocomplete="off"><%= company.description %></textarea>

        <button type="submit">Save</button>
    </form>

    <div id="action-panel-btns" class="action-panel">    
        <form action="/companies/<%= company._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>

</section>

<%- include('../partials/footer') %>