<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/passwords/show.css">
<%- include('../partials/nav') %>

<div class="header">
  <h1>Edit Password</h1>
</div>

<section id="view-one-password-section">
    <h2><%= password.name %></h2>
    <form action="/passwords/<%= password._id %>?_method=PUT" method="POST" id="edit-password-form">

      <label for="password-name-input">Name</label>
      <input type="text" value="<%= password.name %>" name="name" id="password-name-input" autocomplete="off" required>
      
      <label for="password-login-input">Login</label>
      <input type="text" value="<%= password.login %>" name="login" id="password-login-input" autocomplete="off" required>
      
      <label for="password-input">Password</label>
      <input type="text" value="<%= password.password %>" name="password" id="password-input" autocomplete="off" required>

      <label for="company-select">Company</label>
      <select name="company" id="company-select">
        <% if(!!password.company){ %> 
          <option value="<%= password.company._id %>" selected> <%= password.company.name %> </option>
        <% } %>
        <option value=""></option>
        <% companies.forEach(company => {  %>   
          <option value="<%= company._id %>">
                <%= company.name %>
          </option>
        <% }) %> 
      </select>

      <p>Your master password is used for encryption and decryption and will <strong>not</strong> be uploaded to the database.</p>
      <label for="master-password-input">Master Password</label>
      <input type="password" name="masterPassword" id="master-password-input" autocomplete="off" required>
      <button type="submit">Update</button>
    </form>

    <%- include('../partials/error') %>

</section>

<%- include('../partials/footer') %>