<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/passwords/index.css">
<%- include('../partials/nav') %>

<section id="view-all-passwords-section">    
    <h1>Passwords</h1>
    <ul>
      <% passwords.forEach(password => {  %> 
          <li>
              <a href="passwords/<%= password._id %>"> <%= password.name %> </a>
          </li>
      <% }) %> 
    </ul>
</section>

<%- include('../partials/footer') %>