<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/passwords/new.css">
<%- include('../partials/nav') %>

<div class="header fixed">
    <h1>Add Password</h1>
</div>

<section id="add-password-section">
    <form action="/passwords" method="POST" id="add-password-form">
        <label for="password-name-input">Name</label>
        <input type="text" value="<%= namePrev %>" name="name" id="password-name-input" autocomplete="off" required>
        
        <label for="password-login-input">Login</label>
        <input type="text" value="<%= loginPrev %>" name="login" id="password-login-input" autocomplete="off" required>
        
        <label for="password-input">Password</label>
        <input type="password" value="<%= passwordPrev %>" name="password" id="password-input" autocomplete="off" minlength="4", required>

        <label for="company-select-add">Company</label>
        <select name="company" id="company-select-add">
            <!-- if there was an error, put the previous info back for the user's convenience (all EJS injections suffixed with 'Prev') -->
            <% if(error){ %>
                <% if(companyPrev?.length === undefined) { %> 
                    <option value=""></option>
                <% } else { %>
                    <option value=""></option>
                    <option value="<%= companyPrev %>" selected> <%= companyNamePrev %> </option>    
                <% } %> 
            <% } else { %> 
                <option value="" selected></option>
            <% } companies.forEach(company => { %>
                <!-- remove the duplicate company listing -->
                <% if(company.name !== companyNamePrev) { %> 
                    <option value="<%= company._id %>"> <%= company.name %> </option>
                <% } %> 
            <% }) %>
        </select>

        <div class="master-password-block">
            <p>Your master password is used for encryption and will <strong>not</strong> be uploaded.</p>
            <label for="master-password-input">Master Password</label>
            <input type="password" name="masterPassword" id="master-password-input" autocomplete="off" required>

            <button type="submit">Save</button>
        </div>
    </form>

    <%- include('../partials/error') %> 

</section>

<%- include('../partials/footer') %>