<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/passwords/index.css">
<%- include('../partials/nav') %>

<section id="view-one-password-section">
    <a href="/passwords">Back to All Passwords</a>
    <ul>
      <li>id: <%= password._id %></li>
      <li>name: <%= password.name %></li>
      <li>login: <%= password.login %></li>
      <li>password: <%= password.password %></li>
    </ul>
</section>

<%- include('../partials/footer') %>