<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/passwords/show.css">
<%- include('../partials/nav') %>

<section id="view-one-password-section">
    <a href="/passwords">Back to All Passwords</a>

    <form action="/passwords/<%= password._id %>/decrypt" method="POST" id="toggle-show-hide-form">

      <label for="password-name-input">Name</label>
      <input type="text" value="<%= password.name %>" name="name" id="password-name-input" autocomplete="off" required>
      
      <label for="password-login-input">Login</label>
      <input type="text" value="<%= password.login %>" name="login" id="password-login-input" autocomplete="off" required>
      
      <label for="password-input">Password</label>
      <input type="text" value="<%= password.password %>" name="password" id="password-input" autocomplete="off" required>

      <label for="company-select">Company</label>
      <select name="company" id="company-select">
        <option value="<%= password.company._id %>"> <%= password.company.name %> </option>
      </select>

      <p>Your master password is used for encryption and decryption and will <strong>not</strong> be uploaded to the database.</p>
      <label for="master-password-input">Master Password</label>
      <input type="password" name="masterPassword" id="master-password-input" autocomplete="off" required>
      <button type="submit">Show Password</button>
    </form>

</section>

<%- include('../partials/footer') %>